.card
  .card_image
    = image_tag 'eyecatch1.png'
  .card_title
    = article.title
  .card_content
    .card_heart
      = image_tag 'heart.svg'
      %span 23
    .card_detail
      = image_tag 'default-avatar.png'
      %div
        %p cohki0305
        %p= I18n.l(article.created_at,format: :default)
