.card
  - if article.eyecatch.attached?
    .card_image
      = image_tag article.eyecatch
  .card_title
    = article.title
  .card_content
    .card_heart
      = image_tag 'heart.svg'
      %span= article.like_count
    .card_detail
      = image_tag article.user.avatar_image
      %div
        %p= article.author_name
        %p= I18n.l(article.created_at,format: :default)
